html{
    background-color: antiquewhite;
}
.Hello {
    color: whitesmoke;
    background-color: darkseagreen;
    font-family: 'Noto Sans JP', sans-serif;
}
.World {
    color: #FAF8F1;
    background-color: #C58940;
}
