.b {
    margin-left: 130px;
    margin-top: 90px;
    font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Rubik Puddles', cursive;
}
.img {
    margin-top: 30px;
    margin-left: 210px;
}
html {
    background-color: #D8C4B6;
}
.p
{
    margin-left: 210px;
    margin-top: 50px;
    font-family: 'Anton', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Rubik Puddles', cursive;
}