.color-title
{
    font-weight: normal;
    color: red;
}
.color-titl
{    
    font-weight: normal;
    color: orange;
}
.olor-title
{
    font-weight: normal;
    color: green;
}
.color-itle{
    font-weight: normal;
    color: yellow;
}
.colortile{
    font-weight: normal;
    color: blue;
   height: 200px;
   width: 200px;
}
